<div class="container">
  <div class="home">
    <section class="header">
      <div class="container">
        <div class="row-align-items-center">
          <div class="col-md-12 col-md-3-offset text-center">
            <div>
              <%= image_tag "profile.jpeg",class:"profile-pic"%>
            </div>
            <div class="full_name">
              <span >Emmanuel Mawutor</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="container">
          <div class="content">
            <div class="page-heading" style="padding-bottom: 10px">
              Who am I?
            </div>
            <div>
              <p> What's up!</p>
              <p>
                I graduated with a business degree in Accounting & Finance, I realized business school was full of robots so I decided to learn coding to replace them.
              </p>
              <p>I joined a coding bootcamp, learn Ruby on Rails, built my first app, now learning Rust.</p>
              <p> Attempting to beat the odds. Hope you enjoy my site!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="padding-bottom: 20px">
      <div class="row">
        <div class="container">
          <div class="project">
            <div class="page-heading" style="padding-bottom: 10px">
              Projects
            </div>
            <div>
              <i class="far fa-hand-paper"></i>
              <%= link_to "Helpies", "http://www.helpiness.services", style:"color:#f9cb5a", target: :_blank %> :
              <span>Created an alternative economy where college students can exchange help for help using a digital currency called helpies.</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="page-heading" style="padding-bottom: 10px">
            I love to Travel
          </div>
          <div class="travel buttons ">
            <%= link_to "Cambodia", "#", class: "btn btn-link", style: "border-radius: 20px; border-color: red;"  %>
            <%= link_to "Cayman Islands", "#", class: "btn btn-default", style: "border-radius: 20px" %>
            <%= link_to "China", "#", class: "btn btn-ligh btn-mdt", style: "border-radius: 20px; border-color: green; color: red;" %>
            <%= link_to "Vietnam", "#", class: "btn btn-info btn-md", style: "border-radius: 20px"  %>
            <%= link_to "Jamaica", "#", class: "btn btn-warning btn-md", style: "border-radius: 20px" %>
            <%= link_to "Laos", "#", class: "btn btn-danger btn-md", style: "border-radius: 20px"%>
            <%= link_to "Portugal", "#", class: "btn btn-success btn-md", style: "border-radius: 20px" %>
            <%= link_to "Thailand", "#", class: "btn btn-md", style: "border-radius: 20px; color:black;" %>
            <%= link_to "Vietnam", "#", class: "btn btn-primary btn-md", style: "border-radius: 20px"%>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>



